<!DOCTYPE html>
<html>

<head>
    <title>Add New File</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body class="add-new-file-body">
    <h1>Add a New File</h1><br>
    <form class="form" action="/files" method="POST">
        <label>File Name</label><br>
        <input class="input-field" type="text" name="fileName"><br><br>
        <label>Version</label><br>
        <input class="input-field" type="text" name="version"><br><br>
        <label>Upload File</label><br>
        <input type="file" name="fileURL"><br><br>
        <button>Submit</button>
    </form>
</body>

</html>