<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="home-page-div">
        <h1>YOUR UPLOADED FILES</h1>
        <a href="./add-new-file">
            <img src="/plus.svg" alt="delete icon" />
        </a>
    </div>

    <% files.forEach((file)=> { %>
        <div class="display-files">
            <div class="file-info-div-1">
                <a style="color: black" href="">
                    <h3 class="file-info-title">
                        <%= file.fileName %>
                    </h3>
                </a>

                <h4 class="file-info-version">
                    <%= file.version %>
                </h4>
            </div>
            <div class="file-info-div-2">
                <h4>
                    <% const date=new Date(file.createdAt)%>
                        <%= dateFormatter.format(date, 'DD MMM, YYYY HH:MM:SS' ) %>
                </h4>
            </div>
        </div>
        <% }) %>

</body>

</html>