<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="home-page-div">
        <h1>YOUR UPLOADED FILES</h1>
        <a href="./add-new-file">
            <img src="/plus.svg" alt="delete icon" />
        </a>
    </div>
    <div class="display-files">
        <div class="file-info-div-1">
            <h3 class="file-info-title">File Name</h3>
            <h4 class="file-info-version">Version Number</h4>
        </div>
        <div class="file-info-div-2">
            <h4>Date Created</h4>
        </div>
    </div>
</body>

</html>