.home-page-div {
    display: flex;
    justify-content: space-between;
}

.home-page-div a {
    margin-block-start: 21.440px;
    margin-block-end: 21.440px;
}

.display-files {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

.display-files:last-child {
    border-bottom: none;
}

.file-info-div-1 {
    flex-basis: 75%;
}

.file-info-div-2 {
    flex-basis: 25%;
}

.file-info-title {
    margin-bottom: 2.5px;
}

.file-info-version {
    margin: 0;
}