@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

.home-page-div {
    display: flex;
    justify-content: space-between;
}

.home-page-div a {
    margin-block-start: 21.440px;
    margin-block-end: 21.440px;
}

.display-files {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

.display-files:last-child {
    border-bottom: none;
}

.file-info-div-1 {
    flex-basis: 75%;
}

.file-info-div-2 {
    flex-basis: 25%;
}

.file-info-title {
    margin-bottom: 2.5px;
}

.file-info-version {
    margin: 0;
}

.add-new-file-body {
    padding-left: 18px;
    padding-right: 18px;
}

.form {
    max-width: 500px;
    margin: 0 auto;
}

.input-field {
    box-sizing: border-box;
    height: 150px;
    width: 100%;
}